._84-r{border:1px solid #3578e5;border-radius:3px;color:#3578e5;display:inline-block;font-size:11px;font-weight:bold;line-height:12px;margin:0 8px;padding:2px 4px 2px;text-align:left}._54ne ._84-r{border:1px solid #fff;color:#fff}

#bootloader_UTxOY{height:42px;}.bootloader_UTxOY{display:block!important;}