._j4g{display:inline-block;text-align:center;width:100%}
._56vy{display:none;height:54px}._2xo._56v-{display:none}._5mt2 ._56vw ._56vx{width:205px}._4woj{height:171px}._5pxg{background-image:linear-gradient(to top, #f0f4f9, #f4f6f9);display:block;height:23px;line-height:12px}

#bootloader_ALk0K{height:42px;}.bootloader_ALk0K{display:block!important;}